.footer {
  background-color: #333;
  color: #fff;
  margin: 0 6rem;
  border-radius: 16px;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-icons a {
  display: inline-block;
}

.footer .social-icons img {
  width: 28px; /* Set a default size for icons */
  height: 28px;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.footer .social-icons img:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.footer .footer-note {
  font-size: 14px;
  color: #ccc;
}

.footer-links > ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

/* Media Query untuk perangkat dengan layar kecil */
/* @media (max-width: 768px) {
  .footer .social-icons {
    margin: 10px 0;
  }

  .footer .social-icons img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 12px;
  }

  .footer .social-icons {
    flex-direction: column;
    gap: 10px;
  }

  .footer .social-icons img {
    width: 18px;
    height: 18px;
  }
} */
